@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: hsl(230, 17%, 14%);
    margin: 48px 6%; 
    font-family: 'Inter', 'Outfit', sans-serif;
}

header{
    display: flex;
    margin-bottom: 56px;
}

header .theme{
    margin-left: auto;
    margin-top: 12px;
}

header .subheading{
    margin-top: 4px;
}

.card .followers{
    font-size: 68px;
}

.card{
    background-color: hsl(228, 28%, 20%);
    border-top: 4px solid #178FF5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 36px 0 32px;
    width: 300px;
}

.card .up{
    display: flex;
    gap: 8px;
    align-items: center;
}

.card .username{
    color: hsl(228, 34%, 66%);
}

.card .middle{
    margin: 24px 0 28px;
}

.card .down{
    display: flex;
    gap: 4px;
    align-items: center;
}

.card .update{
    color: hsl(163, 72%, 41%)
}

.card .downdate{
    color: hsl(348, 100%, 61%);
}

.card p{
    color: hsl(228, 34%, 66%);
    font-size: 14px;
}   

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
        width: fit-content;
        margin: 48px auto;
    }

    header .theme{
        margin-left: unset;
        margin-top: 24px;
    }

    header div{
        border-bottom: 1px solid hsl(228, 34%, 66%);
    }

    header .subheading{
        margin-bottom: 24px;
    }

}

@media (max-width: 1110px){
    .card{
        width: 400px;
    }
}
        

