@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: hsl(230, 17%, 14%);
    margin: 48px 6%; 
    font-family: 'Inter', 'Outfit', sans-serif;
}

header{
    display: flex;
    margin-bottom: 56px;
}

header .theme{
    margin-left: auto;
    margin-top: 12px;
}

header .subheading{
    margin-top: 4px;
}

.card .followers{
    font-size: 68px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 36px;
}

.card{
    background-color: hsl(228, 28%, 20%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 36px 0 32px;
}

.card:hover{
    background-color: #2C324E;
}

#facebook{
    border-top: 4px solid hsl(208, 92%, 53%);
}

#twitter{
    border-top: 4px solid hsl(203, 89%, 53%);
}

#instagram{
    border-top: 4px solid;
    border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;  /* border-image-slice */
}

#youtube{
    border-top: 4px solid hsl(348, 97%, 39%);
}

.card .up{
    display: flex;
    gap: 8px;
    align-items: center;
}

.card .username{
    color: hsl(228, 34%, 66%);
}

.card .middle{
    margin: 24px 0 28px;
}

.card .down{
    display: flex;
    gap: 4px;
    align-items: center;
}

.card .update{
    color: hsl(163, 72%, 41%)
}

.card #downdate{
    color: hsl(348, 100%, 61%);
}

.card p{
    color: hsl(228, 34%, 66%);
}   

.overview{
    margin: 56px 0 24px ;
}

.overview_card{
    background-color: hsl(228, 28%, 20%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
}

.overview_card:hover{
    background-color: #2C324E;
}

.overview_card .up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview_card .down{
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

.arrow{
    margin-left: auto;
    margin-right: 4px;
}

.overview_card h1{
    font-size: 44px;
}

.overview_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 28px 36px;
}


@media (max-width: 904px){
    header{
        flex-direction: column;
        width: fit-content;
        margin: 48px auto;
    }

    header .theme{
        margin-left: unset;
        margin-top: 24px;
    }

    header div{
        border-bottom: 1px solid hsl(228, 34%, 66%);
    }

    header .subheading{
        margin-bottom: 24px;
    }
}
        

